<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carte des pharmacies</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq4tK0ZwN8tu9ZQgF6Y3TJ2EPScOCSULk"></script>
</head>
<body>
    <div id="map" style="height: 500px; width: 100%;"></div>

    <script>
        function initMap() {
            var geocoder = new google.maps.Geocoder();

            // Si la ville a été soumise via le formulaire
            var ville = "{{ ville|escapejs }}";
            if (ville) {
                geocoder.geocode({'address': ville}, function(results, status) {
                    if (status === 'OK') {
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 15,
                            center: results[0].geometry.location
                        });
                        var points = JSON.parse('{{ points|escapejs }}');
                        points.forEach(function(point) {
                            var marker = new google.maps.Marker({
                                position: point,
                                map: map
                            });
                        });
                    } else {
                        alert('La géolocalisation a échoué pour la raison suivante : ' + status);
                    }
                });
            } else {
                // Afficher une carte centrée par défaut
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 2,
                    center: { lat: 20.0, lng: 0.0 }  // Coordonnées du centre par défaut
                });

                var points = JSON.parse('{{ points|escapejs }}');
                points.forEach(function(point) {
                    var marker = new google.maps.Marker({
                        position: point,
                        map: map
                    });
                });
            }
        }

        // Initialiser la carte quand la page est chargée
        window.onload = initMap;
    </script>
    
</body>
</html>